# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.docz
.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

/storybook-static

/Alert
/Ad
/Adv.1
/AzureAd
/BottomNavigation
/Box
/Button
/Checkbox
/Col
/Container
/Dashboard
/DashboardContent
/DashboardNavigationMenu
/DashboardToolbar
/DataTable
/Dropzone
/Flex
/Input
/Loading
/Permiso
/RadioButton
/Row
/Select
/Theme
/useWindowDimensions
/util
/http
/SideBar
/Dialog
/TextArea
/icons
index.js
index.d.ts
/Paper
/Header
svg.d.ts
/Page
/PageTitle
/SimpleUpload
/ToolTip
/Snackbar
/List